.d11{
    height: 720px;
    animation: carousel 10s infinite ;
}
@keyframes carousel {
    0%,20%{
        background: url("../images/轮播图21.jpg") center / 100% 100% no-repeat;
    }
    30%,50%{
        background: url("../images/轮播图6.jpg") center / 100% 100% no-repeat;
    }
    60%,80%{
        background: url("../images/轮播图1.jpg") center / 100% 100% no-repeat;
    }
    90%,100%{
        background: url("../images/轮播图22.jpg") center / 100% 100% no-repeat;
    }
}

/* 导航栏框 */
.d12{
    position: relative;
    height: 50px;
    background:-webkit-linear-gradient(top,gray,white);
}
.d12::after{
    content: " ";
    display: block;
    clear: both;
}
.d13{
    position: absolute;
    height: 50px;
    width: 200px;
    float: left;
}
.d13 img{
    position: relative;
    bottom: 50px;
}
.d14{
    position: absolute;
    min-width: 800px;
    padding-left: 150px;
    left: 300px;
    float: left;
    height: 50px;
}
.u1{
    height: 50px;
}

.u1 li{
    margin-top: 5px;
    float: left;
    padding: 6px;
    margin-right: 5px;
    margin-left: 8px;
}
.u1 li img{
    position: relative;
    top: 5px;
    margin-right: 4px;
}

.u1 li:hover{
    
    border-bottom: 3px solid rgb(87, 87, 255);
}
.u1 li a:hover{
    color: rgb(233, 139, 24);
}
.d15{
    position: absolute;
    left: 980px;
    min-width: 45px;
    float: left;
    height: 50px;
}
.d15 button{
    height: 32px;
    width: 32px;
    margin-top: 9px;
    float: left;
    background-image: url(../images/搜索.png);
    background-size: 32px 32px;
    cursor: pointer;
}
.d16{
    float: left;
    padding-top: 8px;
    font-family: 华文行楷;
    font-size: 30px;
    color: rgb(26, 173, 38);
}
/* 搜索框 */
.t1{
    float: left;
    margin-top: 8px;
    height: 30px;
    width: 200px;
    border: 2px solid rgb(55, 55, 236);
    border-right: none;
    margin-left: 50px;
    color: rgb(221, 208, 208);
    
}
.d17{
    position: absolute;
    left: 1310px;
    width: 200px;
    min-width: 30px;
    float: left;
    height: 50px;
}
.d17 ul{
    margin-left: 40px;
}
.d17 ul li{
    float: left;
    padding: 10px;
}
.d17 ul li a{
    font-weight: bold;
    color: rgb(59, 59, 197);
}
.d17 img{
    position: absolute;
    bottom: 2px;
    left: -5px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.d18{
    height: 400px;
}
.d18 p{
    position: absolute;
    left: 600px;
    margin-top: 260px;
    min-width: 350px;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: rgb(60, 200, 219);
    font-family: 华文楷体;
}
.d18 img{
    margin-left: 435px; 
    margin-top: 70px;
    width: 600px;
    height: 500px;
}
.d18 button{
    position: absolute;
    top: 450px;
    left: 670px;
    width: 120px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}
.d18 button:hover{
    background-color: rgb(161, 160, 160);
}